.helpbody {
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
	background-image: url("back.jpg");
	overflow-y: scroll;
	height: calc(100vh - 60px);
}

.helpcontent {
    padding: 25px;
	max-width: 850px;
	margin: 0 auto;
}

.helpcontent > h1 {
    color:	#ffff00	;
    margin-left: 40px;
} 

.helpcontent > p {
	text-align:center;
    color:black;
    border: 3px solid black;
    font-size:20px;
	background-color: rgba(0, 150, 150, 0.7);
}
