.gameboard {
	width: 242px;
	margin: 0 auto;
	border: 1px solid darkblue;
	background-color: black;
}

.emptyblock {
	height: 24px;
	background-color: magenta;
	border: 1px solid rgba(230, 230, 230, 1);
	padding: 0;
	border-radius: 3px;
}

.invisible {
	display: none;
}

.optionsgroup {
	width: 300px;
	margin: 10px auto;
}

#optionsSaveButton {
	margin: 0 auto;
	display: block;
	width: 200px;
}